.noscroll {
  overflow: hidden;
}

.navbar.bg-light {
  background-color: #007bff !important;
}

.sidebar {
  position: absolute;
  top: 0px;
  left: 200px;
  height: 804px;
  width: 120px;
  background: -webkit-gradient(
    cover,
    cover,
    cover,
    from(rgba(22, 22, 22, 0.1)),
    color-stop(75%, rgba(22, 22, 22, 0.5)),
    to(#161616)
  );

  background: linear-gradient(
    to bottom,
    rgba(22, 22, 22, 0.1) 0%,
    rgba(22, 22, 22, 0.5) 75%,
    #161616 100%
  );
}

.nav-item {
  left: -30px;
}

.app-footer {
  height: 100px;
  text-align: center;
  background-color: #007bff !important;
}

.card {
  display: flex;
  background: rgba(248, 250, 245, 0) !important;
  width: 350px;
}

.children {
  position: absolute;
  display: flex;
  top: 2px;
  left: 150px;
}

.btn-info {
  background-color: rgb(9, 89, 238) !important;
}

.background {
  position: relative !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-height: 10rem;
  padding: 12rem 0;
  min-height: 75vh;
  padding-top: 85px;
  background: -webkit-gradient(
      cover,
      cover,
      cover,
      from(rgba(22, 22, 22, 0.1)),
      color-stop(75%, rgba(22, 22, 22, 0.5)),
      to(#161616)
    ),
    url("../src/img/background.jpg");
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.1) 0%,
      rgba(22, 22, 22, 0.5) 75%,
      #161616 100%
    ),
    url("../src/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
