.noscroll {
  overflow: hidden;
}

header .logo {
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 0px;
}

.navbar.navbar.navbar-expand-lg {
  background-color: #1f35fa !important;
}

.navbar.navbar-expand-lg {
  margin-bottom: 0.05rem !important;
}

.sidebar {
  position: absolute;
  top: 0px;
  left: 200px;
  height: 804px;
  width: 75px;
  background-color: #1f35fa;
}

.navbar .navbar-brand {
  color: #fcf !important;
}

.nav-item {
  left: -30px;
}

.nav > ul > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent !important;
}

.app-footer {
  height: 100px;
  background-color: #1f35fa !important;
  margin-bottom: -50px;
}

.footer-text {
  left: 100px;
}

.card {
  display: flex;
  background: rgba(248, 250, 245, 0) !important;
  width: 350px;
  margin-top: 25px;
}

.card.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  left: -5px;
  top: -21px;
  border: transparent;
}

.book_detail_wrapper {
  display: flex;
  margin-bottom: 140px;
}

.book_detail_wrapper .right {
  flex-grow: 1;
  min-height: 800px;
}

.book_detail_wrapper p {
  font-size: 17px;
  font-family: Arial, Helvetica;
  font-weight: lighter;
}

.book_detail_wrapper .book_tags {
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}

.book_detail_wrapper .book_tags .tag {
  display: flex;
  margin-bottom: 20px;
}

.book_detail_wrapper .book_tags .tag svg {
  font-size: 43px;
  color: #e4e4e4;
  width: 50px;
}

.book_detail_wrapper .book_tags .tag .tag_text {
  font-size: 14px;
  text-transform: uppercase;
  color: #999592;
  padding-left: 20px;
}

.book_detail_wrapper .book_actions .price {
  font-size: 40px;
  font-weight: 300;
}
.book_detail_wrapper .book_actions .cart {
  width: 149px;
}

.book_detail_wrapper .book_info .item {
  font-size: 15px;
  text-transform: uppercase;
  color: #838383;
}

.book_detail_wrapper .book_image_container {
  margin-top: 30px;
  padding-right: 70px;
}

.book_detail_wrapper .main_pic {
  box-sizing: border-box;
  cursor: pointer;
}

.book_detail_wrapper .main_pic div {
  width: 100%;
  height: 446px;
  width: 446px;
  border: 1px solid #d9d9d9;
  background-size: contain !important;
  background-position: center center !important;
}

.book_detail_wrapper .main_thumbs {
  margin-top: 10px;
}

.book_detail_wrapper .main_thumbs .thumb {
  cursor: pointer;
  height: 200px;
  width: 50%;
  background-size: cover !important;
  background-position: bottom center !important;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  float: left;
}

.children {
  position: absolute;
  display: flex;
  top: 2px;
  left: 150px;
}

.btn-info {
  background-color: rgb(9, 89, 238) !important;
}

.background {
  position: relative !important;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-height: 10rem;
  padding: 12rem 0;
  min-height: 75vh;
  padding-top: 85px;
  background: -webkit-gradient(
    cover,
    cover,
    cover,
    from(rgba(22, 22, 22, 0.1)),
    color-stop(75%, rgba(22, 22, 22, 0.5)),
    to(#161616)
  );
}

.offer_container .offer_image {
  position: relative;
  background-size: cover !important;
  background-position: center left !important;
  height: 600px !important;
}

.offer_container .offer_button {
  position: absolute;
  top: 45%;
  left: 8%;
}

.offer_container .offer_button .tag {
  background: #82828287;
  color: #ffffff;
  padding: 0px 20px;
  text-transform: uppercase;
  display: table;
}

.offer_container .offer_button .tag.title {
  font-size: 70px;
  font-weight: 700;
}

.offer_container .offer_button .tag.low_title {
  font-size: 50px;
  font-weight: 300;
  margin-top: 10px;
}

.shop-header {
  margin-top: -100px;
  border-bottom: none;
  padding: 20px 0px;
  text-transform: uppercase;
}

.shop-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #051827;
}

.shop-wrapper {
  display: flex;
}

.shop-wrapper .left {
  position: absolute;
  flex-grow: 1;
  left: 0px;
  border-right: 1px solid #999592;
}

.shop-wrapper .right {
  position: absolute;
  width: 1000px;
  left: 100px;
  top: 50px;
}

.FilterCheckbox {
  left: -10px;
}

.MuiListItemText {
  position: relative;
  left: 40px;
  padding: 0px;
}

.MuiListItem {
  position: absolute;
  left: 40px;
  padding: 0px;
}

.filter-check-box-value {
  position: absolute;
  left: 45px;
}

.shop-options {
  border-bottom: 1px solid #e8e8e8;
  margin: 0px 20px 20px 20px;
}

.card-block {
  margin: 110px 0px;
}

.card-block .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.nothing-found {
  font-size: 40px;
  color: #999592;
  text-align: center;
  padding-top: 40px;
}

.card.image {
  display: flex;
  width: 150px;
  height: 110px;
  top: -75px;
  left: 25px;
}

.card.info {
  position: absolute;
  width: 100px;
  left: 75px;
  height: 120px;
  top: 120px;
  border: transparent;
}

.card.shop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  left: -5px;
  top: -21px;
  border: transparent;
}

.card-item-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 235px;
  left: 0px;
  padding: 80px 20px;
}

.card-item-wrapper .tags {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
}

.card-item-wrapper .tags .author,
.card-item-wrapper .tags .title,
.card-item-wrapper .tags .price {
  text-align: center;
  margin: 2px;
}

.card-item-wrapper .tags .author {
  font-size: 14px;
  font-weight: 700;
  color: #2196f3;
}

.card-item-wrapper .tags .title {
  font-weight: 350;
  font-size: 19px;
}

.card-item-wrapper .tags .price {
  font-weight: 300;
  font-size: 14px;
}

.btn.btn-secondary {
  background-color: #007bff;
  height: 30px;
}

.card-item-wrapper .actions {
  display: flex;
  padding: 15px 0 10px 0;
}

.card-item-wrapper .actions .button_wrapp:nth-child(1) {
  flex-grow: 1;
  padding-right: 10px;
}

.card-item-wrapper.grid_bars {
  float: none;
  width: 100%;
  display: flex;
}

.card-item-wrapper.grid_bars .image {
  width: 420px;
  height: 211px;
  border: none;
}

.action-container {
  position: absolute;
  border: 2px solid #e6e6e6;
  bottom: 0px;
}

.card_item_wrapper.grid_bars .description {
  clear: both;
  padding: 0px 25px;
  border-top: 1px solid #eeeeee;
}

.card_item_wrapper.grid_bars .tags {
  border-bottom: 0px;
  padding: 5px 20px;
}

.card_item_wrapper.grid_bars .tags .brand {
  font-size: 21px;
}

.card_item_wrapper.grid_bars .tags .brand,
.card_item_wrapper.grid_bars .tags .name {
  float: left;
}

.card_item_wrapper.grid_bars .tags .price {
  float: right;
}

.card_item_wrapper.grid_bars .actions {
  clear: both;
  float: right;
  padding: 10px 20px 0px 15px;
}
